DATABASE_URL=postgresql://spatial_cms:spatial_cms@localhost:5434/spatial_cms?schema=public
PORT=3001
TEST_DATABASE_URL=postgresql://spatial_cms:spatial_cms@localhost:5434/spatial_cms_test?schema=public
# Set to "false" to disable API key requirement on Delivery API (for dev/testing)
DELIVERY_API_KEY_REQUIRED=false
KEYCLOAK_URL=http://localhost:8180
KEYCLOAK_REALM=spatial-cms
