DATABASE_URL=postgresql://spatial_cms:spatial_cms@localhost:5434/spatial_cms?schema=public
PORT=3000
TEST_DATABASE_URL=postgresql://spatial_cms:spatial_cms@localhost:5434/spatial_cms_test?schema=public
